*.suo
*.sln
*.cache
*.txt
*.dll
*.exe
*.pdb
2DWorld.suo
Client/Client/bin/x86/Debug/Client.exe
Client/Client/bin/x86/Debug/Client.pdb
Client/Client/bin/x86/Debug/GameLibrary.dll
Client/Client/bin/x86/Debug/GameLibrary.pdb
Client/Client/bin/x86/Debug/Server.exe
Client/Client/bin/x86/Debug/Server.pdb
Client/Client/obj/x86/Debug/Client.csprojResolveAssemblyReference.cache
Client/Client/obj/x86/Debug/Client.exe
Client/Client/obj/x86/Debug/Client.pdb
Client/ClientContent/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
GameLibrary/bin/x86/Debug/GameLibrary.dll
GameLibrary/bin/x86/Debug/GameLibrary.pdb
GameLibrary/obj/x86/Debug/GameLibrary.dll
GameLibrary/obj/x86/Debug/GameLibrary.pdb
Server/Server/bin/x86/Debug/GameLibrary.dll
Server/Server/bin/x86/Debug/GameLibrary.pdb
Server/Server/bin/x86/Debug/Server.exe
Server/Server/bin/x86/Debug/Server.pdb
Server/Server/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Server/Server/obj/x86/Debug/Server.csproj.FileListAbsolute.txt
Server/Server/obj/x86/Debug/Server.csprojResolveAssemblyReference.cache
Server/Server/obj/x86/Debug/Server.exe
Server/Server/obj/x86/Debug/Server.pdb
Server/ServerContent/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Server/ServerContent/obj/x86/Debug/ServerContent.contentproj.FileListAbsolute.txt
Server/ServerContent/obj/x86/Debug/ServerContent.contentprojResolveAssemblyReference.cache
